body{
	background: #fff;
}

h1 {
	font-size:20px;
	text-align: center;
}

h2 {
	font-size:18px;
	text-align: center;
}

table {
	margin: 20px auto;
	width: 640px;
	border: 1px solid #000;
	border-collapse: collapse;
}

tr.center  td, p {
	text-align: center;
	width: 80px;
	background: #fff;
	color: #000;
	padding: 5px 0;
}

tr.content  td {
	padding: 5px 15px;
}
